<button></button>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Roll Number</th>
      <th scope="col">Name</th>
      <th scope="col">Session</th>
      <th scope="col">Standard</th>
      <th scope="col">Subject</th>
      <th scope="col">Marks</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of marks" (click)="onSelect(x)">
      <th scope="row">{{x.rollNo}}</th>
      <td>{{x.studentName}}</td>
      <td>{{x.examSession}}</td>
      <td>{{x.standard}}</td>
      <td>{{x.subject}}</td>
      <td>{{x.marks}}</td>
    </tr>
    <div *ngIf="selectedEntry">
      <tr>
          <label>Roll No. <input [(ngModel)]="selectedEntry.rollNo" placeholder="rollNo"/></label>
          <!-- <td>{{x.studentName}}</td>
          <td>{{x.examSession}}</td>
          <td>{{x.standard}}</td>
          <td>{{x.subject}}</td>
          <td>{{x.marks}}</td> -->
      </tr>
    </div>
  </tbody>
</table>
<!-- 
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table> -->